<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /lustre/

    RewriteRule ^lustre-backend/ - [F,L]

    RewriteCond %{REQUEST_URI} !^/lustre/api/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([a-zA-Z0-9_]+\.php)$ api/router.php?page=$1 [QSA,L]

    RewriteRule ^$ api/router.php?page=index.php [L]
</IfModule>
